<!-- Status message example -->
<div class="status-message {{type}}">
    <h1>{{message}}</h1>
    {{#if description}}
    <p class="description">{{description}}</p>
    {{/if}}
    <a href="{{redirectLink}}" class="cta-button">Go to Homepage</a>
</div>